body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.linha-castanha {
    border-bottom: 3px solid brown;
    padding-bottom: 5px;
}


.imagem-transparente {
    width: 300px;
    opacity: 0.85; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #90ee90;
    font-weight: bold;
}


.entrega {
    margin-top: 20px;
    font-weight: bold;
}
